//===================reseets========================
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// =========================================
// colors

$nayvblue:#000080;
$redd :#FD0909;
$dark-gray:#C2C2C2;

// ==============================


//fonts
$regular:"Poppins-regular";
$medium: "Poppins-medium";
$rage: "rage";

// @mixin font-type($font-name){
// 	@if ($font-name == paragraph) {
// 		font-family: $medium;
// 		font-size: 15px;
// 		line-height: 1.4;
// 		color:$bg_color;
		
// 	}@else if($font-name == heading){
// 		font-family: $medium;
// 		font-size: 24px;
// 		color:$color-main;
		
// 	}
	
// }

@mixin btn {
    padding: 0.6rem 2rem;
    border-radius: 5px;
    font-size: 15px;
    font-family: $medium;
    text-decoration: none;
    color: white;
    border-radius: 38px;
}


//============================

// header===
header{
    box-sizing: border-box;
    display: flex;
    background-color:white;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100%;
    padding: 0 15px;
    position: absolute;
    z-index: 4;
    overflow: hidden;
    height: 14vh;
    // transition: height .2s ease-in-out;

    img{
        width:32%;
        object-fit: contain;
    }


    &.posi{
        img{
            position: fixed;
            z-index: 6;
        }
    }

    ul{
        // display: none;
        text-align: center;
        li{
            padding: .5rem 1rem;
            a{
                text-decoration: none;
                font-family: $medium;
                font-size: 22px;
                padding: 10px 0px;
                color: black;
       
            } 
        }
    }
    // ====================================
      .wrapper-menu {
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transition: transform 330ms ease-out;
        &.open {
            transform: rotate(-45deg);
            position: fixed;
            z-index: 5;
            right: 12px;
            top: 25px;  
          }
      }
      .line-menu {
        background-color: rgb(0, 0, 0);
        border-radius: 5px;
        width: 100%;
        height: 6px;
      }
      .line-menu.half {
        width: 50%;
      }
      .line-menu.start {
        transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
        transform-origin: right;
      }
      .open .line-menu.start {
        transform: rotate(-90deg) translateX(3px);
      }
      .line-menu.end {
        align-self: flex-end;
        transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
        transform-origin: left;
      }
      .open .line-menu.end {
        transform: rotate(-90deg) translateX(-3px);
      }
    // =====================================
 


.overlay {
    position: fixed;
    // background:  ;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;

    &.open {
        opacity: 1;
        visibility: visible;
        height: 100%;
        li {
        animation: fadeInRight .5s ease forwards;
        animation-delay: .35s;
        
            &:nth-of-type(2) {
                animation-delay: .4s;
            }
            &:nth-of-type(3) {
                animation-delay: .45s;
            }
            &:nth-of-type(4) {
                animation-delay: .50s;
            }
        }
    }


    nav {
        position: relative;
        height: 88%;
        top: 58%;
        transform: translateY(-50%);
        font-size: 50px;
        font-weight: 400;
        text-align: center;
        background:white;

        ul {
            // list-style: none;
            // padding: 0;
            // margin: 0 auto;
            // display: inline-block;
            // position: relative;
            // height: 100%; 
            
            li {
            height: 25%;
            height: calc(100% / 4);
            min-height: 50px;
            // position: relative;
            opacity: 0; 
            }
    
        }
    }
    
}

    @keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
    }

}
//end here

// banner
.banner{
    background: url("../images/Group30.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 0px 0px;

    .text{
        text-align: center;
        padding: 0px 5px;
        h1{
            font-family: $medium;
            font-size: 20px;
            color: white;
            text-transform: capitalize;
            line-height: 1.4;
            span{
                color: #000080;
                text-transform: capitalize;
            }
        } 
        
        p{
            font-family: $regular;
            font-size: 16px;
            color: white;
            margin: 20px 0px 30px;
            line-height: 1.4;
        }

        a{
            @include btn();
            background: $nayvblue;
        }



       
    }
}
// end here

// about us
.commit{

    text-align: center;
    .box{
        font-family: $medium;
        font-size: 18px;
        text-transform: capitalize;
        background-color: hsla(0, 98%, 50%, 0.5);
        padding: 25px 0px;
        transition: all .3s ease-in-out;
    }

    .box-middle{
        font-family: $rage;
        font-size: 22px;
        text-transform: capitalize;
        background-color: hsla(240, 100%, 25%, 0.5);
        color: white;
        padding: 20px 0px;
        span{
            display: block;
        }
    }

}
// end here

// about-us
.about-us{
    margin: 30px 0px;
    .about-text{
        text-align: center;
        padding: 0px 5px;
        margin: 50px 0px;
        h2{
            font-family: $medium;
            font-size: 26px;
            text-transform: capitalize;
            line-height: 1.4;
        } 
        
        p{
            font-family: $regular;
            font-size: 14px;
            margin: 30px 5px 40px;
            line-height: 1.4;
        }

        a{
            @include btn();
            background: $nayvblue;   
        }
    }

    .about-img{
        padding: 0px 5px;
        position: relative;
        text-align: center;
        img{
            width: 95%;
            margin: 0px auto;
        }
        .two{
            bottom: -79px;
            left: 12%;
            width: 74%;
            position: absolute;
        }
    }
}
// end here

// why-choose
.why-choose{
    background-image:url("../images/Group14.png") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 10px;
    margin: 135px 0px 50px;
    .why-text{
        text-align: center;
        padding: 0px 5px;
        margin: 10px 0px 50px;
        color: white;
        h2{
            font-family: $medium;
            font-size: 26px;
            text-transform: capitalize;
            line-height: 1.4;
        } 
        
        p{
            font-family: $regular;
            font-size: 14px;
            margin: 20px 5px 40px;
            line-height: 1.4;
        }

        a{
            @include btn();
            background: $nayvblue;   
        }
    }

    .boxs{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
        color: $redd;
        .box{
            width: 45%;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $medium;
            font-size: 18px;
            text-transform: capitalize;
            background-color: white;
            // padding: 25px 0px;
            transition: all .3s ease-in-out;
            margin: 10px 0px ;
        }
        #boxx{
            font-family: $rage;
            background-color: $nayvblue;
            font-size: 24px;
            color: white;
            // padding: 30px 0px;
            align-items: center;
        }
    }
    
}
// end here

//our-customers
.our-customers{
    padding: 35px 0px 50px;
    margin: 0px 0px 50px;
    background-image: url(../images/Group15.png);
    h2{
        color: white;
        font-family:$medium;
        font-size: 26px;
        text-align: center;
        margin: 0px 0px 50px;
    }

    .customers-logs{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        background-color: #c2c2c252;
        width: 94%;
        border-radius: 10px;
        margin: 0px auto;
        h3{
            color: white;
            font-size: 24px;
            font-family: $medium;
            width: 45%;
            margin: 10px 0px;
        }

        .bluee{
            color:$nayvblue;
            font-family: $rage;
            font-size: 30px;
        }
    }
}
//end here

// footer
footer{
    margin: 50px 0px 20px; 
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    text-align: center;
    .box-one{
        h2{
            font-family: $regular;
            font-size: 24px;
            color: $redd;
        }

        .phone{
            font-family: $medium;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px 0px;
            img{
                width: 6%;
                margin: 0px 10px;
            }
        }

        p{
            font-family: $regular;
            margin: 20px 0px;
            span{
                display: block;
            }
        }

        a{
            color: #000080;
            font-family: $regular;
            font-size: 14px;
        }
    }

    .box-two{
        margin: 30px 0px;
        h2{
            font-family: $regular;
            font-size: 24px;
            color: $redd;
        }

        h3{
            font-family: $regular;
            margin: 20px 0px;
        }

        form{
            position: relative;
            width: 90%;
            margin: 0px auto;
            input{
                outline: none;
                border: none;
                border-radius: 30px;
                width: 100%;
                background-color: #C2C2C2;
                padding: 1rem 0.2rem 0.7rem 0.8rem;
                font-family: $regular;
                font-size: 14px;
            }

            button{
                position: absolute;
                top: 0;
                right:-14px;
                border: none;
                border-radius: 30px;
                background-color: $nayvblue;
                padding: .6rem 1.4rem;
                font-family: $regular;
                font-size: 18px;
                color: white;
            }
        }
    }

    .box-three{
        h2{
            font-family: $regular;
            font-size: 24px;
            color: $redd;
        }

        ul{
            font-family: $regular;
           
           
            li{
                margin: 15px 0px;
                list-style: none;
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 14px;
                }
            }
        }
    }
    hr{
        background-color: rgb(0, 0, 0);
        width: 90%;
        margin: 10px auto;
    }
    .rights{
        h3{
            font-family: $regular;
            color: $redd;
        }
    }
}
// end here


// ==========ipad view=============================


@media(min-width:768px){

    header{
        padding: 0px 30px;
        height: 12vh;
        img{
            width: 25%;
            position: relative;
            z-index: 4;
        }
        .menu-toggle{
            width: 60px;
        }


        .overlay{
            background-color: white;
            nav{
                height: 86%;
                top: 54%;
            }
            ul{
                li{
                    // height: 30px;
                    padding: 30px 0px;
                    a{
                        font-size: 40px;
                    }
                }

                a{
                    font-size: 30px;
                }
            }
        }
        .wrapper-menu{
            width: 46px;
            height: 46px;
            background-color: white;
            &.open{
                right: 26px;
                top: 50px;
            }
        }

    }

    .banner{
        height: 70vh;
        padding: 100px 0px 0px;
        box-sizing: border-box;
        width: 95%;
        .text{
            padding: 0px 20px;
            h1{
                font-size: 34px;
                width: 70%;
                margin: 0 auto;
                span{
                    color: #000080;
                }
            } 
            
            p{
                font-size: 23px;
                width: 80%;
                margin: 30px auto 50px;
            }
    
            a{
                padding: 1rem 1.9rem;
                font-size: 20px;
                transition: all .3s ease-in-out;
                &:hover{
                    background-color: white;
                    color: red;
                }
                
            }
    
    
    
           
        }
    }

    .commit{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 0px 0px 50px;
        .box{
            font-size: 16px;
            flex-basis: 23%;
            padding: 30px;
            box-sizing: border-box;
        }
    
        .box-middle{
            flex-basis: 35%;
            font-size: 22px;
        }
    
    }

    .about-us{
        width: 95%;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        // align-items: center;
        .about-text{
            text-align: left;
            flex-basis:45%;
            h2{
                font-size: 32px;
            }
            p{
                font-size: 16px;
            }
            a{
                font-size: 18px;
                transition: all .3s ease-in-out;
                &:hover{
                    background-color: $redd;
                    color: white;
                }
                
            }
        }

        .about-img{
            flex-basis: 45%;
            margin: 8% 0px 0px;
            img{
                width: 100%;
            }

            .two{
                bottom: 13px;
                left: -20%;
                width: 66%;
            }
        }
    }

    .why-choose{
        margin: 80px auto;
        padding: 35px 40px;
        width: 85%;
        .why-text{
            text-align:left;
            padding: 0px 5px;
            margin: 10px 0px 50px;
            color: white;
            h2{
                font-size: 32px;
            } 
            
            p{
                font-size: 20px;
                width: 70%;
            }
    
            a{
                font-size: 18px;
                transition: all .3s ease-in-out;
                &:hover{
                    background-color: white;
                    color: red;
                }
                
            }
        }

        .boxs{
            .box{
                width: 23%;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: $medium;
                font-size: 18px;
                text-transform: capitalize;
                background-color: white;
                // padding: 25px 0px;
                transition: all .3s ease-in-out;
                margin: 10px 0px ;
            }
            #boxx{
                height: 105px;
                margin: 0px;
                font-family: $rage;
                background-color: $nayvblue;
                font-size: 24px;
                color: white;
                // padding: 30px 0px;
                align-items: center;
            }
        }
    }

    .our-customers{
        h2{
            font-size: 36px;
        } 

        .customers-logs{
            padding: 40px 0px;
            width: 80%;
            h3{
                font-size: 28px;
                width: 30%;
            }

            .bluee{
                font-size: 31px;
            }
        }
    }

    footer{
        .box-one{
            width: 50%;
            margin: 0px auto;
            h2{
                font-size: 34px;
            }
    
            .phone{
                margin: 20px 0px;
                font-size: 19px;
                i{
                    color: #000080;
                }
            }
    
            p{
                // width: 55%;
                margin: 20px auto;
                font-size: 19px;
                span{
                    display: block;
                }
            }
    
            a{
                color: #000080;
                font-family: $regular;
                font-size: 19px;
            }
        }
    
        .box-two{
            margin: 30px 0px;
            h2{
                font-size: 34px;
            }
    
            h3{
                font-size: 19px;
            }
    
            form{
                position: relative;
                width: 60%;
                margin: 0px auto;
                input{
                    font-size: 19px;
                }
    
                button{
                    position: absolute;
                    top: 0;
                    right:-14px;
                    border: none;
                    border-radius: 30px;
                    background-color: $nayvblue;
                    padding: .8rem 1.4rem;
                    font-size: 19px;
                    color: white;
                }
            }
        }
    
        .box-three{
            h2{
                font-size: 34px;
            }
    
            ul{
                
                li{
                    margin: 15px 0px;
                    
                    a{
                        font-size: 22px;
                    }
                }
            }
        }
        .rights{
            h3{
                font-size: 20px;
            }
        }
    }
}


// =========================================


// ===========laptop view==================
@media(min-width:1280px){

    header{ 
        padding: 10px 65px;
        align-items: center;
        position: relative;
        height: 16vh;
        img{
            width:10%;
            object-fit: cover;
            margin: 0px 0px 18px
        }
        .wrapper-menu{
            display: none;
        }

        .overlay{
            visibility:visible;
            opacity: 1;
            height: inherit;
            position:inherit;
            width: 55%;
            nav{
                ul{
                    display: flex;
                    justify-content: flex-end;
                    opacity: 1;
                    li{
                        margin: 10px 10px;
                        padding: 0px 5px;
                        display: flex;
                        align-items: center;
                        opacity: 1;
                        a{
                            padding: 0;
                            text-transform: capitalize;
                            font-size: 18px;
                            transition: all .3s ease-in-out;
                            &:hover{
                                color: $redd;  
                            }
                            &:active{
                                color: $redd;
                            }
                        }
                    }
    
                }
            }

        }


    }

    .banner{
        height: 90vh;
        width: 90%;
        margin: 0px auto;
        padding: 0px 0px 0px;

        .text{
            text-align: left;
            padding: 0px 0px 0px 30px;
            h1{
                font-size: 32px;
                width: 53%;
                margin: 0 0;
                span{
                    color: #000080;
                }
            } 
            
            p{
                font-size: 14px;
                width: 38%;
                margin: 30px 0 50px;
            }
    
            a{
                padding: .7rem 3rem;
                font-size: 16px;
                
            }
    
    
    
           
        }

    }

    .commit{
        margin: 0px 0px 50px;
        .box{
            flex-basis: 20%;
            box-sizing: border-box;
            padding: 45px;
            h3{
                font-size: 16px;
            }
        }
    
        .box-middle{
            flex-basis: 35%;
            font-size: 22px;
            padding: 20px 0px 30px;
        }
    
    }

    .about-us{
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    .about-text{
        text-align: left;
        flex-basis:40%;
        h2{
            font-size: 36px;
        }
        p{
            font-size: 16px;
            margin: 50px 0px;        }
        a{
            font-size: 18px;
        }
    }

    .about-img{
        flex-basis: 40%;
        margin: 3% 0px 0px;
        img{
            width: 90%;
        }

        .two{
            position: relative;
            bottom: 53px;
            left: -55%;
            width: 70%;
        }
    }

    }

    .why-choose{
        margin: 30px auto 80px;
        padding: 80px 40px;
        width: 80%;
        .why-text{
            text-align:left;
            padding: 0px 5px;
            margin: 10px 0px 50px;
            color: white;
            h2{
                font-size: 32px;
            } 
            
            p{
                font-size: 20px;
                width: 70%;
            }
    
            a{
                font-size: 18px;
            }
        }

        .boxs{
            align-items: center;
            margin: 70px 0px 0px;
            .box{
                width: 23%;
                height: 80px;
                font-size: 18px;
                transition: all .4s ease-in-out;
                &:hover{
                    cursor: pointer;
                    height: 130px;
                    font-size: 28px;
                    background-color:$nayvblue;
                    color: white;
                    font-family: $rage;
                }
            }
            #boxx{
                height: 130px;
                font-family: $rage;
                background-color: $nayvblue;
                font-size: 28px;
                color: white;
                align-items: center;
                transition: all .4s ease-in-out;
                &:hover{
                    background-color: white;
                    color: red;
                }
            }
        }
    }

    .our-customers{
        padding: 100px 100px;
        background-position-y:-287px;

        h2{
            font-size: 36px;
            text-align: left;
            margin: 0px 0px 70px;
        } 

        .customers-logs{
            justify-content: space-between;
            padding: 50px 0px;
            width: 100%;
            h3{
                font-size: 50px;
                width: 30%;
                margin: 30px 0px;
            }

            .bluee{
                font-size: 50px;
            }
        }
    }

    footer{
        width: 90%;
        margin: 0px auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        text-align:left;
        padding: 0;
        .box-one{
            width: 30%;
            margin: 0px auto;
            h2{
                font-size: 32px;
            }
    
            .phone{
                margin: 40px 0px;
                font-size: 18px;
                justify-content: flex-start;
                img{
                    margin: 0px 10px 0px 0px ;
                }
            }
    
            p{
                // width: 55%;
                margin: 40px auto;
                font-size: 18px;
                span{
                    display: block;
                }
            }
    
            a{
                color: #000080;
                font-family: $regular;
                font-size: 16px;
            }
        }
    
        .box-two{
            margin: 0;
            width: 30%;
            text-align: center;
            h2{
                font-size: 32px;
            }
    
            h3{
                font-size: 18px;
                margin: 83px 0px 60px;
            }
    
            form{
                position: relative;
                width: 90%;
                margin: 0px auto;
                input{
                    font-size: 16px;
                    padding: .5rem 0.2rem 0.7rem 0.8rem;
                }
    
                button{
                    position: absolute;
                    top: 0;
                    right:-14px;
                    border: none;
                    border-radius: 30px;
                    background-color: $nayvblue;
                    padding: .5rem 1.4rem;
                    font-size: 17px;
                    color: white;
                }
            }
        }
    
        .box-three{
            width: 30%;
            text-align: center;
           
            h2{
                font-size: 32px;
                margin: 0px 0px 83px;
            }
    
            ul{
                
                li{
                    margin: 15px 0px;
                    
                    a{
                        font-size: 18px;
                    }
                }
            }
        }

        hr{
            margin: 30px auto 20px;
        }
   
        .rights{
            width: 100%;
            text-align: center;
            margin: 0px 0px 30px;
            h3{
                font-size: 18px;
            }
        }
    }
}
