@font-face {
    font-family: "Poppins-regular";
    src: url("./Poppins-Regular.ttf")
}

@font-face {
    font-family: "Poppins-medium";
    src: url("./Poppins-Medium.ttf")
}

@font-face {
    font-family: "rage";
    src: url("./RAGE.TTF")
}